@model List<Voiture>
<h1>Mes voitures!</h1>

<div>
    @* NON-Fonctionnel avec /voitures/index *@
    <h1>Prise 1</h1>
    <img src="images/Dodge_RAM.png" />
    <br />

    @* =) Fonctionnel avec /voitures/index lorsque déployé sur SQLInfoCG =)*@
    <h1>Prise 2</h1>
    <img src="~/images/Dodge_RAM.png" />
    
    @* NON-Fonctionnel avec /voitures/index lorsque déployé sur SQLInfoCG*@
    <h1>Prise 3</h1>
    <img src="/images/Dodge_RAM.png" />
    
    @* =) Fonctionnel avec /voitures/index lorsque déployé sur SQLInfoCG =)*@
    <h1>Prise 4</h1>
    <img src=@Url.Content("~/images/Dodge_RAM.png") />
    
    @* NON-Fonctionnel avec /voitures/index lorsque déployé sur SQLInfoCG*@
    <h1>Prise 5</h1>
    <img src=@Url.Content("/images/Dodge_RAM.png") />
    
    <h1>Prise 6</h1>
    @* NON-Fonctionnel avec /voitures/index *@
    <img src=@Url.Content("images/Dodge_RAM.png") />

</div>
<div>
    <p>Voici les @Model.Count voitures</p>
    <ul>
        @foreach (var item in Model)
        {
            <partial name="_ShowCarPartial" model="@item"/>
            @*<li>@item.Id - @item.Nom - @item.Annee</li>*@
        }
    </ul>

</div>
